
    <section class="demo">
      <button class="next">Next</button>
      <button class="prev">Previous</button>
      <div class="container">

        <div style="display: inline-block;">
          <img src="http://dreamatico.com/data_images/beach/beach-8.jpg" />
        </div>
        <div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/The_beach_at_North_Seymour_Island_in_the_Galapagos.jpeg" />
        </div>
        <div>
          <img src="http://www.telegraph.co.uk/content/dam/Travel/Destinations/Africa/Mauritius/Mauritius---Beaches---Tropical-beach-large.jpg" />
        </div>
      </div>
    </section>
